<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Asset</title>
    <link href="/assets/css/app.css?hello=1" type="text/css" rel="stylesheet" media="all">
    <%= style_tag 'bundle.css' %>
    <%= style_tag 'app.css' %>
    <%= style_tag 'themes/large-badges.css' %>
    <link href="<%= asset_url 'app.css' %>" type="text/css" rel="stylesheet" media="all">

    <% Asset.mode = 'production' %>
    <%= style_tag 'bundle.css' %>
    <%= style_tag 'app.css' %>
    <link href="<%= asset_url 'app.css' %>" type="text/css" rel="stylesheet" media="all">

    <% Asset.mode = 'development' %>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
  </head>
  <body>
    <img src="/images/logo/logo.png">
    <h1>Welcome to Assets</h1>
    <aside><%= MODE %> mode.</aside>
    <script src="/assets/js/app.js?hello=test"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.js"></script>
    <%= script_tag "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.js" %>
    <%= script_tag "app.js" %>
    <%= script_tag "/assets/js/app.js" %>
    <%= script_tag "bundle.js" %>
    <% Asset.mode = 'production' %>
    <%= script_tag "app.js" %>
    <%= script_tag "/assets/js/app.js" %>
    <%= script_tag "bundle.js" %>
  </body>
</html>
